<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
<script type="text/javascript">

  $(document).ready(function(){
      ClassicEditor
      .create( document.querySelector( 'textarea' ) )
      .then( editor => {
          console.log( editor );
      } )
      .catch( error => {
          console.error( error );
      } );
  });
</script>
